<button (click)="pingServer()">Ping server</button>
<div style="background: #ECECEC;padding:30px;">
  <nz-card style="width:100%;" [nzBordered]="false" nzTitle="<%= classify(name) %>">
    <div style="display: flex;">
      <<%= dasherize(name) %>-filter (search)="searchById($event)" (clear)="clearFilter()" ></<%= dasherize(name) %>-filter>
      <div style="margin: 20px;">
        <div style="margin: 20px;">
          <button nz-button nzType="primary" (click)="showModal()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            Add</button>
        </div>
      </div>
    </div>
    <<%= dasherize(name) %>-list [listOfData]="tableData"></<%= dasherize(name) %>-list>
  </nz-card>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add" (nzOnCancel)="handleCancel()" [nzFooter]="null"
  [nzOkLoading]="isOkLoading">
  <div *nzModalContent>
    <<%= dasherize(name) %>-dynamic-form (closeForm)="cancelForm()" (saveForm)="add($event)" [data]="data" [questions]="questions$ | async"></<%= dasherize(name) %>-dynamic-form>  
  </div>
</nz-modal>
