<div>
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>
          <button nz-button nzType="default" (click)="showModal(data)">Edit</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary" nzDanger (click)='deleteEmp(data.key)'>Delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Edit Employee" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading">
    <div *nzModalContent>
      <form nz-form [formGroup]="validateForm" class="login-form">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="name" placeholder="name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-modal>
</div>
